@charset "utf-8";

body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,select,table,td,textarea,th,ul{margin:0;padding:0;font-weight:normal}
html,body{height:100%}
body{position:relative;background-color:#f8f8f8;font-size:14px;color:#333;word-wrap:break-word;word-break:break-all;-webkit-text-size-adjust:none}
table{border-collapse:collapse}
fieldset,img{border:0}
ol,ul{list-style:none}
address,em{font-style:normal}
a{text-decoration:none}
img,fieldset,button,input{border:0 none}
img,input,select,textarea{vertical-align:middle}
address,em{font-style:normal}
legend{display:none}
input{-webkit-appearance:none;border-radius:0;-webkit-border-radius:0;font-size:1em}
input:focus{outline:none}
input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none}
textarea{-webkit-appearance:none}
hr{clear:both;height:0;border:0;overflow:hidden}
mark{background:0 0}
button{border:0;background:none;cursor:pointer}
table{table-layout:fixed;width:100%;border-spacing:0;border-collapse:collapse}
